*{
    box-sizing: border-box;
}
.header  {
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 0 30px;
}
nav .links {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .links .link {
    margin-right: 20px;
    padding: 5px;
}
nav .links .link a {
    text-decoration: none;
    color: #62741b;
    font-weight: 500;
    font-size: 20px;
    transition: all 0.3s ease;
}
nav .links .link a:hover {
    color: #988262;
}
nav .links .order-btn {
    background: #f18f01;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #e48c04;
}
nav .links .order-btn:hover {
    background: none;
}
nav .logo-text {
    width: fit-content;
    height: fit-content;
    transition: all 0.3s ease-in;
}
nav .logo-text  a {
    text-decoration: none;
}
nav .logo-text h1 {
    color: #e48c04;
}
nav .logo-text h1:hover {
    color: #62741b;
}
nav .logo-text h1 span {
    color: #62741b;
}
nav .logo-text h1 span:hover {
    color: #e48c04;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services, .menu .menu-items {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.services div>img {
    height: 150px;
}

.menu {
    text-align: center;
}
.menu .menu-items .menu-item img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.delivery, #deliver  {
    display: none;
}