*{
    box-sizing: border-box;
}
.header  {
    text-align: center;
}
.logo-text {
    width: fit-content;
    height: fit-content;
}
.logo-text h1 {
    color: #e48c04;
}
.logo-text h1 span {
    color: #62741b;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services, .menu .menu-items {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.services div>img {
    height: 150px;
}

.menu {
    text-align: center;
}
.menu .menu-items .menu-item img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.delivery, #deliver  {
    display: none;
}